.user-update-form-wrapper {
  margin-top: 20px;
}

.cancel-update,
.submit-update {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fdd6c6;
  padding: 12px;
  border-radius: 4px;
  letter-spacing: 3px;
  color: black;
  font-size: 12px;
  border: none;
}

.cancel-update:hover,
.submit-update:hover {
  background-color: rgb(198, 160, 166);
  cursor: pointer;
}
