.user-profile-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.user-profile {
  width: 80vw;
}

.heading-and-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-profile-link {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fdd6c6;
  padding: 12px;
  border-radius: 12px;
  letter-spacing: 2px;
  color: black;
}

.update-profile-link-wrapper {
  margin-top: 20px;
}

.update-profile-link:hover {
  background-color: rgb(198, 160, 166);
}

.update-profile-success-message {
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  .heading-and-logout {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
