@keyframes banner-zoom {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.homepage-background {
  position: relative;
  overflow: hidden;
}

.homepage-background-image-wrapper {
  width: 100vw;
}

.homepage-background-image {
  width: 100%;
  opacity: 0.9;
  animation-name: banner-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.banner-text {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.shop-now-link {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fdd6c6;
  padding: 16px;
  border-radius: 12px;
  letter-spacing: 2px;
  color: black;
}

.shop-now-link:hover {
  background-color: rgb(198, 160, 166);
}

@media only screen and (max-width: 1000px) {
  .homepage-background-image-wrapper {
    width: 130vh;
  }
}

@media only screen and (max-width: 700px) {
  .homepage-background-image-wrapper {
    width: 130vh;
  }
}
