.admin-plant-list-page-wrapper {
  display: flex;
  justify-content: center;
}

.admin-plant-list-page {
  width: 90vw;
}

.go-back-link {
  display: flex;
  align-items: center;
  padding-left: 8px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.go-back-link p {
  margin-left: 8px;
}

.go-back-link:hover {
  text-decoration: underline;
}

.heading-and-create-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
