.cart-heading {
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin: 20px;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

.cart-img {
  width: 200px;
}

.name-and-size {
  margin-left: 20px;
}

.quantity-and-unit-price {
  display: flex;
}

.quantity-and-unit-price .unit-price {
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .cart-img-wrapper {
    width: 350px;
  }

  .cart-img {
    width: 100%;
  }
  .name-and-size {
    margin: 12px 0px;
    width: 350px;
    text-align: center;
  }

  .cart-item {
    margin-bottom: 60px;
    justify-content: space-evenly;
    width: 90vw;
  }

  .cart-item-details {
    flex-direction: column;
  }

  .quantity-and-unit-price {
    justify-content: center;
  }
}
