.update-details-buttons {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  .heading-and-logout {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .user-profile-update-heading {
    text-align: center;
  }

  .user-profile-update-form {
    display: flex;
    justify-content: center;
  }
}
